fastapi~=0.112.1
uvicorn
jinja2
torch~=2.3.0+cpu
aiofiles
starlette~=0.38.2
pydantic~=2.8.2
torchvision~=0.18.0+cpu
tensorflow~=2.17.0
numpy~=1.24.3
keras~=3.6.0
onnx~=1.16.2
onnx2pytorch~=0.5.1